body {
  margin: 0 auto;
  width: 960px;
  background-color: lightblue;
}
.content{

  background-color: rgb(255, 255, 224);
}
h1 {
  width: 940px;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 1px;
  font-size: 3em;
}

.image-container {
  position: relative;
}

img {
  width: 460px;
}
.second {
  position: absolute;
  right: 0px;
}
table {
  margin: 60px auto;
  width: 940px;
}

td:nth-child(1) {
  border: 1px solid;
  padding: 5px;
  font-weight: bold;
}

.style{
  border: 1px solid;
}
td{
  text-align: center;
  border-style:solid
}
th{
  padding: 5px;
}
.superscript{
  position: relative;
  bottom:5px;
  font-size: 10px;
  margin-left: 1px;
}



th.solid {
  background-color: aqua;
}

th.gas{
  background-color: aquamarine;
}

.solid{
  background-color: aqua;
}
.gas{
  background-color: aquamarine;
}