body {
  margin: 0 auto;
  width: 960px;
}
h1 {
  width: 940px;
  text-align: center;
}

.container{
    position:relative
}

img{
    width: 460px;
}
.second {
  position: absolute;  
  right: 0px;
}
