body {
  margin: 0 auto;
  width: 960px;
  background-image: url(../images/stars.jpg);
  position: relative;
}
.content {
  background-color: rgb(255, 255, 224);
}
h1 {
  width: 940px;
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 1px;
  font-size: 3em;
  margin-top: 0;
  padding-top: 70px;
}

.image-container {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

img {
  width: 460px;
}
.second {
  position: absolute;
  right: 0px;
}
.table-container {
  width: 940px;
  margin: 60px auto;
}
.planets {
  border-spacing: 8px;
  width: 100%;
}

td:nth-child(1) {
  border: 1px solid;
  padding: 5px;
  font-weight: bold;
}

.style {
  border: 1px solid;
}
td {
  text-align: center;
  border-style: solid;
}
th {
  padding: 5px;
}
.superscript {
  position: relative;
  bottom: 5px;
  font-size: 10px;
  margin-left: 1px;
}

th.solid {
  background-color: aqua;
}

th.gas {
  background-color: aquamarine;
}

.solid {
  background-color: aqua;
}
.gas {
  background-color: aquamarine;
}

.lines {
  border: 6px dotted red;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  width: 110px;
  border-spacing: 10;
  position: absolute;
  top: 125px;
  left: 420px;
}
